CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_QSDK_Standard_64=y
CONFIG_TARGET_BOARD="ipq807x"
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_DEVEL=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
